.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;

  &__title {
    margin-bottom: 10px;
    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    color: var(--title-text-color);
  }
  &__item {
    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 270px;
    }
  }
  &__box {
    @include tablet {
      padding: 25px 142px;
    }
    @include desktop {
      padding: 0;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--px-left-right);
    border-radius: 4px;
    height: 120px;
    background-color: var(--section-our-team-color);
    @include desktop {
    }
  }
  &__text {
    margin-bottom: var(--px-left-right);
    line-height: 1.71;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
