.profile {
  padding-top: var(--px-left-right);
  margin-bottom: 16px;
  &__name {
    margin-bottom: 10px;
    @include font(500, 16px, 1.18);
    text-align: center;
    color: var(--title-text-color);
  }
  &__profession {
    @include font(null, 16px, 1.18);
    text-align: center;
  }
}
