:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --hero-footer-color: #2f303a;
  --section-our-team-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --hero-button-accent: #188ce8;
  --px-left-right: 30px;
  --px-top-bottom: 94px;
  --icon-color: #afb1b8;
  --font-main: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}
